{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<h1>Welcome to the Site!</h1>
<ul>
    <li><a href="{% url 'commissions:list' %}">Commissions</a></li>
    <li><a href="{% url 'wiki:article_list' %}">Wiki</a></li>
    <li><a href="{% url 'blog:article_list' %}">Blog</a></li>
    <li><a href="{% url 'forum:forum_list' %}">Forum</a></li>
    <li><a href="{% url 'store:list_view' %}">Merch Store</a></li>
    <li><a href="{% url 'user_management:profile' %}">Profile</a></li>
</ul>
{% endblock %}