{% extends 'base.html' %}

{% block title %}{{ category.name }}{% endblock %}
{% block content %}
    <a href="{% url 'wiki:list %}">Return to list of articles</a>
    {{ article.header_image }}
    <h1>{{ article.title }}</h1>
    Created on: {{ article.created_on }}
    Last updated on: {{ article.updated_on }}
    {% if is_owner %}
        <p><a href="{% url 'wiki:article update' article.id %}">Edit Article</a></p>
    {% endif %}
    <p>article.entry</p>
    <h3>Read more from {{ article.category.name }}</h3>
    <ul>
        {% for readmore in article.category.articles.exclude(id=article.id) %}
        <li><a href='readmore.get_absolute_url'>{{ readmore.title }}</a></li>
        {% endfor %}
    </ul>
{% endfor %}
{% endblock %}