{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock %}
{% block content %}
    <p><a href="{% url 'wiki:article_list' %}">Return to list of articles</a></p>
    <h1>{{ article.title }}</h1>
    {% if article.header_image %}
        <img src="{{ article.header_image.url }}" style="max-width: 100%; border-radius: 10px;"><br/>
    {% endif %}
    Created on: {{ article.created_on }} /
    Last updated on: {{ article.updated_on }}
    {% if profile == article.author %}
        <p><a href="{% url 'wiki:article_update' article.id %}">Edit Article</a></p>
    {% endif %}
    <p>{{ article.entry }}</p>
    <h3>Read more from {{ article.category.name }}</h3>
    <ul>
        {% for readmore in other_articles %}
            <li><a href='{{ readmore.get_absolute_url }}'>{{ readmore.title }}</a></li>
        {% empty %}
            <p>There are no other articles in this category.</p>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
        <h3>Create a Comment</h3>
        <form method="post">
            {% csrf_token %}
            {{ comment_form }}
            <button type="submit">Post</button>
        </form>
    {% endif %}
    <h3>Comments</h3>
    {% for comment in article.comments.all %}
        <strong>{{ comment.author }}</strong><br/>
        {{ comment.entry }}<br/>
        Created On: {{ comment.created_on }} / Last Updated On: {{ comment.updated_on}}<br/><br/>
    {% empty %}
        <p>No one has left a comment.</p>
    {% endfor %}
{% endblock %}