{% extends 'base.html' %}

{% block title %}Wiki{% endblock %}
{% block content %}
    <h1>Categories</h1>
    {% if user.is_authenticated %}
        <h3>Your Articles</h3>
            <ul>
                {% for article in user_articles %}
                    <li><a href='{{ article.get_absolute_url }}'>{{ article.title }}</a></li>
                {% empty %}
                    <p>You have not created any articles.</p>
                {% endfor %}
            </ul>
        <p><a href="{% url 'wiki:article_create' %}">Create New Article</a></p>
    {% endif %}
    {% for category in categories %}
        <h3>{{ category.name }}</h3>
        {{ category.description }}
        <ul>
            {% for article in all_articles %}
                <li><a href='{{ article.get_absolute_url }}'>{{ article.title }}</a></li>
            {% empty %}
                <p>There are currently no articles under this category.</p>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock%}