<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Forum</title>
</head>
<body>
    <div id="content">
        <h1>Forum</h1>
        <ul>
            {% for category in categories %}
                <li>
                    <h2>{{ category.name }}</h2>
                    <a href="{% url 'forum_thread' post.id %}"> {{ post.title }}</a> - {{ post.created_on }}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
