{% extends 'base.html' %}

{% block title %}Merchandise Store{% endblock %}

{% block content %}
    <header>
        <h1>Merchandise Store</h1>
    </header>
    {% if user.is_authenticated %}
        <h2>🛒 Your Purchases</h2>
        <ul>
            {% for product in bought_products %}
                <li>
                    <a href="{% url 'store:detail_view' product.id %}">{{ product.name }}</a>
                </li>
            {% endfor %}
        </ul>
        {% if cart_size == 0 %}
            <h4> Your cart is empty.</h4>
        {% endif %}

    {% else %}
        <h2>Uh-oh... seems you're logged out.</h2>
            <a href="{% url 'login' %}">Login?</a>
    {% endif %}

    <!-- login/logout buttons -->
    <nav>
        {% if request.user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            Currently logged in as <b>'{{ user.username }}'. </b>
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <!-- redirect links -->
         <br>
        {% else %}
            Currently logged out. <a href="{% url 'login' %}">Login?</a>
        {% endif %}
    </nav> 

    <table align="center">
            <td><a href="{% url 'store:list_view' %}"><p>{{ 'Back to All Products' }}</a></td>
        </tr>
    </table>

{% endblock %}