{% extends 'base.html' %}

{% block title %}Merchandise Store{% endblock %}

{% block content %}
    <header>
        <h1>Merchandise Store</h1>
    </header>

    <h2>All products</h2>
    <ul>
        {% for product in all_products %}
            <li>
                <a href="{% url 'detail_view' product.id %}">{{ product.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <!-- login/logout buttons -->
    <nav>
        {% if request.user.is_authenticated %}
        Currently logged in as <b>'{{ user.username }}'. </b>
        
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>

        {% else %}
            Currently logged out. <a href="{% url 'login' %}">Login?</a>
        {% endif %}
    </nav>  
{% endblock %}
