{% extends 'base.html' %}

{% block title %}Merchandise Store{% endblock %}

{% block content %}
    <header>
        <h1>Merchandise Store</h1>
    </header>
    {% if user.is_authenticated %}
        <h2>🛒 Your Transactions</h2>
        <h4>Orders on your products placed by your customers can be found here.</h4>
        {% for transaction in transactions %}
            <ul>
                <li>
                    <a href="{% url 'store:detail_view' transaction.product.id %}">
                        Order #{{ forloop.counter }}: {{ transaction.product.name }}
                    </a>
                </li>
                <ul>
                    <li> Buyer:  <i>{{ transaction.buyer }}</i></li>
                    <li> Ordered quantity:  <i>{{ transaction.amount }}</i></li>
                    <li> Ordered on:  <i>{{ transaction.created_on }}</i></li>
                    <li> Transaction status:  <i>{{ transaction.status }}</i></li>
                </ul>
            </ul>
        {% endfor %}
    {% else %}
        <h2>Uh-oh... seems you're logged out.</h2>
            <a href="{% url 'login' %}">Login?</a>
    {% endif %}

    {% if transactions_made == 0 %}
    <h4> Seems you have no products sold yet. Come back later.</h4>
{% endif %}

    <!-- login/logout buttons -->
    <nav>
        {% if request.user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            Currently logged in as <b>'{{ user.username }}'. </b>
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <!-- redirect links -->
         <br>
        {% else %}
            Currently logged out. <a href="{% url 'login' %}">Login?</a>
        {% endif %}
    </nav> 

    <table align="center">
            <td><a href="{% url 'store:list_view' %}">{{ 'Back to All Products' }}</a></td>
        </tr>
    </table>

{% endblock %}